@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 249, 252;
  /* #F8F9FC */
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}

/* Custom utilities for glassmorphism */
@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-xl;
  }

  .card-shadow {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  }
}